<div class='container center'>
  <h1>Sign Up</h1>
</div>

<%= render 'shared/error_messages' %>

<div class='container'>
  <div class='row card-panel'>
    <div class=>
      <%= form_for(@user) do |f| %>

        <div class='input-field'>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'validate' %>
        </div>
        <div class='input-field'>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'validate' %>
        </div>
        <div class='input-field'>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'validate' %>
        </div>
        <div class='input-field'>
          <%= f.label :password_confirmation, 'Confirmation' %>
          <%= f.password_field :password_confirmation, class: 'validate' %>
        </div>
        <%= f.submit 'Create my account', class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>