<div class='container top-padding'>
	<div class='row'>
		<div class='col m12 l6'>
			<div class='card'>
        <div class='card-image'>
          <%= image_tag 'slcaq.png' %>
          <span class="card-title black-text">Salt Lake City Air Quality</span>
        </div>
        <div class="card-content">
          <p>
            A simple app I built when I wasn't happy with air quality websites I had found.
            This app consumes AirNow's API hourly and stores that data in its own
            postgres database. It uses Rails for the backend, bootstrap for some styling
            and Morris.js for the chart.
          </p>
        </div>
        <div class="card-action">
          <%= link_to 'Demo', 'http://slcaq.herokuapp.com' %>
        </div>
        <div class="card-action">
          <%= link_to 'GitHub', 'https://github.com/ryancobb/sleepy-stream-9275' %>
        </div>
			</div>
    </div>
    <div class='col m12 l6'>
      <div class='card'>
        <div class='card-image'>
          <%= image_tag 'slcaq.png' %>
          <span class="card-title black-text">Salt Lake City Air Quality</span>
        </div>
        <div class="card-content">
          <p>
            A simple app I built when I wasn't happy with air quality websites I had found.
            This app consumes AirNow's API hourly and stores that data in its own
            postgres database. It uses Rails for the backend, bootstrap for some styling
            and Morris.js for the chart.
          </p>
        </div>
        <div class="card-action">
          <%= link_to 'Demo', 'https://slcaq.herokuapp.com' %>
        </div>
        <div class="card-action">
          <%= link_to 'GitHub', 'https://github.com/ryancobb/sleepy-stream-9275' %>
        </div>
			</div>
		</div>
  </div>
</div>
