<div class='container top-padding'>
	<div class='row'>
		<div class='col m12 l6'>
			<div class='card'>
        <div class='card-image'>
          <%= image_tag 'slcaq.png' %>
        </div>
        <div class="card-content">
          <span class="card-title black-text">SLC AQ</span>
          <p>
            A simple app I built when I wasn't happy with air quality websites I had found.
            This app consumes AirNow's API hourly and stores that data in its own
            postgres database. It uses Rails for the backend, bootstrap for some styling
            and Morris.js for the chart.
          </p>
        </div>
        <div class="card-action">
          <%= link_to 'Demo', 'http://slcaq.herokuapp.com' %>
        </div>
        <div class="card-action">
          <%= link_to 'GitHub', 'https://github.com/ryancobb/slcaq' %>
        </div>
			</div>
    </div>
    <div class='col m12 l6'>
      <div class='card'>
        <div class='card-image'>
          <%= image_tag 'cyanrobb.png' %>
        </div>
        <div class="card-content">
          <span class="card-title black-text">CyanRobb</span>
          <p>
            This is where you are now! It is also a blogging platform created in Rails complete with user/admin login using the Devise gem and
						image upload to AWS using the Imagemagick and Fog gems. Styled using materialize.css.
          </p>
        </div>
        <div class="card-action">
          <%= link_to 'GitHub', 'https://github.com/ryancobb/cyanrobb' %>
        </div>
			</div>
		</div>
    <div class='col m12 l6'>
      <div class='card'>
        <div class='card-image'>
        </div>
        <div class="card-content">
          <span class="card-title black-text">JScalc</span>
          <p>
            A calculator built in JS.
          </p>
        </div>
        <div class="card-action">
          <%= link_to 'Demo', 'http://ryancobb.github.io/JScalc/' %>
          <%= link_to 'GitHub', 'https://github.com/ryancobb/JScalc' %>
        </div>
      </div>
    </div>
  </div>
</div>
