<div class='container'>
  <div class='card-panel'>
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-field row">
        <%= f.email_field :email, autofocus: true, id: "email" %>
        <%= f.label :email, 'for' => 'email' %><br />
      </div>

      <div class="input-field row">
        <%= f.password_field :password, autocomplete: "off", id: "password" %>
        <%= f.label :password, 'for' => 'password' %><br />
      </div>

      <div class="row">
          <% if devise_mapping.rememberable? %>
            <div class="input-field">
              <%= f.check_box :remember_me, id: "remember_me" %>
              <%= f.label :remember_me, "for" => "remember_me" %>
            </div>
          <% end -%>
      </div>

      <div class="row">
        <div class="actions">
          <%= f.button "Log in", class: "btn waves-effect waves-light login-button"%>
        </div>
      </div>
    <% end %>

    <!-- <%= render "devise/shared/links" %> -->
  </div>
</div>
