<div class='container'>
  <div class='row'>
    <div class='col s12'>
      <h3><%= @post.title %></h3>
      <p><%= simple_format @post.content %></p>
    </div>
  </div>

  <div class="row">
    <% @post_attachments.each do |img| %>
        <div class="col s12">
      <%= image_tag img.photo_url, class: "responsive-img materialboxed" %>
        </div>
    <% end %>
  </div>
  <div class="row">
  <% if current_user.try(:admin?) %>
      <%= link_to 'Edit', edit_post_path(@post), class: 'waves-effect waves-light btn' %>
      <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' %>
  <% end %>
  </div>

</div>
